%section
  .container
    .text-center
      %h2.section-heading Our awesome coaches
      .row
        - data.coaches.each do |coach|
          .col-xs-6.col-md-3.portfolio-item
            = link_to "https://twitter.com/#{coach.twitter}", class: 'portfolio-link', rel: 'nofollow' do
              .text-center
                %b= coach.name
                .black
                  @#{coach.twitter}

    .text-center.spaced
      %h3 If you have any questions, or want to keep learning
      %a.spaced.btn.btn-primary.btn-lg{href: "https://rubyburgers.herokuapp.com/"} Join our chat
      %a.page-scroll.btn.btn-default.btn-lg{href: "http://rubybelgium.us13.list-manage.com/subscribe?u=00b69faa8e0eba3887ce7f914&id=cd165f97aa"}
        Subscribe to the beginner newsletter
