%section.section--alternate
  .container
    .text-center
      %h2.section-heading.marginless Our last RailsGirls, 1 day of pure programming fun
      %h3.section-subheading.text-muted The workshop is fully organised so you can focus on learning
    .row
      .col-md-6
        %img.img-responsive{src: '/assets/images/rails-girls/railsgirls3.jpg'}
      .col-md-6
        %img.img-responsive{src: '/assets/images/rails-girls/railsgirls2.jpg'}
