%section
  .container
    .text-center
      %h2.section-heading.marginless HTML and Rails coaching for women
      %h3.section-subheading.text-muted Rails Girls - Get started with tech
    .row
      .col-md-6
        %img.img-responsive{src: '/assets/images/rails-girls/railsgirls3.jpg'}
      .col-md-6
        %img.img-responsive{src: '/assets/images/rails-girls/railsgirls2.jpg'}
