%section.section--alternate

  .container
    .text-columns
      Rails Girls was born in Finland, but is now a global, non-profit volunteer community.
      Our goal is to give girls and women enough tools to understand technology and a supportive community to help them build their ideas.
      We do this by organizing a 1 evening + 1 day ruby bootcamp with online training materials and coaches to help them along the way.

%section
  .container
    .text-center
      %h2.section-heading.marginless Getting started with tech, like a breeze
      %h3.section-subheading.text-muted You're in good hands, all our coaches from the community are there to help you!
    .spaced.text-center
      %p
        %strong You will learn
        designing, prototyping and coding with help from our coaches.
      %p
        %strong You only need
        your own laptop, curiosity and a sprinkle of imagination!
    .text-center
      %h3 You want to participate?
      %p.text-muted
        Get notified for next event by following us
        %strong= link_to '@RailsGirls_BE', 'http://twitter.com/RailsGirls_BE'
        on Twitter or like our
        %strong= link_to 'Facebook', 'https://www.facebook.com/RailsGirlsBrussels'
        page
%section.section--alternate
  .container
    .text-center
      %h2.section-heading Organizer
      = image_tag 'silvana.jpg', class: "img-responsive img-circle center-block", alt: 'Silvana Precup'
      %h3.section-subheading.text-muted Silvana Precup
      %ul.list-inline.social-buttons
        %li
          = link_to "https://twitter.com/silvanaprecup" do
            %i.fa.fa-twitter
