---
title: Rails Girls Brussels - Ruby Belgium
---

%header.header
  .layer
    .container.text-center
      %h1.animated.fadeInUp Rails Girls Brussels
      %h3.header__subtitle
        %p The basics of programming, for girls, in a day!

= partial :overview

= partial :images

= partial :coaches
