---
title: Brug - Rails Girls Brussels - Ruby Belgium
---

%header.header
  .layer
    .container.text-center

      %h1.animated.fadeInUp Rails Girls Brussels
      %h3.header__subtitle
        %p Get excited and make things!


= partial :overview

= partial :images

= partial :coaches

= partial :js
