// Text colors
.red {
  color: $brand-primary;
  border-color: $brand-primary;
}

.white {
  color: white !important;
}

.black {
  color: black;
}

// Backgrounds

.bg-light-gray {
	background-color: $gray-lighter;
}

.bg-darkest-gray {
	background-color: $gray-darkest;
}

.bg-brand-primary {
  background-color: $brand-primary;
}
