// Text colors
.white {
  color: white !important;
}

.black {
  color: black;
}
// Backgrounds

.bg-light-gray {
	background-color: $gray-lighter;
}

.bg-darkest-gray {
	background-color: $gray-darkest;
}
