// Bootstrap Button Variant

@mixin skew_bar($color: #fff) {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    height: 100px;
    display: block;
    background: $color;
    transform: skewY(-1.2deg);
    width: 100%;
    z-index: 1;
    bottom: -50px;
    transform-origin: center;
  }
}
