// Bootstrap Button Variant

@mixin skew_bar($color: #fff) {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    height: 50px;
    display: block;
    background: $color;
    transform: skewY(-2deg);
    width: 100%;
    z-index: 1;
    bottom: -25px;
  }
}
