%section#events.section--alternate
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Next Events
    .row
      .col-lg-12
        %ul.timeline#events-list
          %li
            = link_to 'rails-girls' do
              .timeline-image
                = image_tag 'railsgirls-sq.png', class: 'img-circle img-responsive', alt: '28-29/10/2016'
            .timeline-panel
              .timeline-heading
                %h4 28-29/10/2016
                %h4.subheading
                  %a{href: 'rails-girls'}
                    Rails Girls Brussels
              .timeline-body
                %p.text-muted Get started with tech
          %li.more
            = link_to 'https://www.meetup.com/ruby_belgium' do
              .timeline-image
                %h4 check<br>meetup.com<br>for more

%script{id: 'event-template', type: 'text/x-jsrender'}
  %li{class: '{{:class}}'}
    %a{href: '{{:link}}'}
      .timeline-image
        %img.img-circle.img-responsive{src: '{{:image}}', alt: '{{:date}}'}
    .timeline-panel
      .timeline-heading
        %h4 {{>date}}
        %h4.subheading
          %a{href: '{{:link}}'}
            {{>title}}
      .timeline-body
        %p.text-muted {{>description}}
