%footer
  .container
    .row
      .col-md-6.text-left
        %span.copyright
          Copyright &copy; Ruby Belgium ASBL/VZW #{Date.today.year}
      .col-md-6.text-right
        %ul.list-inline.quicklinks
          %li
            = link_to 'Code of Conduct', '/code-of-conduct'
