%header.header
  .layer
    .container.text-center
      .row
        %img.mx-auto.ruby-icon{src: '/assets/images/ruby.svg', width: 300}
      .row
        %h1.header__moto__title.animated.fadeInUp
          Building a stronger Ruby community. Together.
        .hidden-xs
          %a.page-scroll.btn.btn-primary.btn-lg{href: "https://rubyburgers.slack.com/"} Join us on slack
          %a.page-scroll.btn.btn-default.btn-lg.red{href: "#projects"} What do we do?
