header, .header {
  color: $brand-primary;
  margin-top: 50px ;
  padding: 100px 0;
  @include skew_bar(#fff);
}

.header__moto__title {
  margin-bottom: $padding-base-horizontal * 4;
}

.ruby-icon {
  max-width: 100%;
  color: $brand-primary;
  // background: $brand-primary;
}

.header__subtitle {
  margin-top: $padding-base-horizontal * 4;
  line-height: 1.5;
  margin-bottom: $padding-base-horizontal * 4;
  &:last-child {
    margin-bottom: 0;
  }
}
