%section#about.border-gradient
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading.marginless Ruby Belgium
        %h3.section-subheading.text-muted The Association.
        %p.lead.text-left
          The Association aims at promoting the programming language
          Ruby and supporting the Belgian Ruby community.
          In that way, the Association organizes and supports events
          gathering Ruby developers and promoting Ruby. It works in
          Belgium for education, jobs, and spread of Ruby.
        %p.lead.text-left
          The association is more about the people than the technology.
