<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Ruby Belgium</h2>
                <h3 class="section-subheading text-muted">The Association.</h3>
                <p class="text-left">
                    The Association aims at promoting the programming language
                    Ruby and supporting the Belgian Ruby community.
                    In that way, the Association organizes and supports events
                    gathering Ruby developers and promoting Ruby. It works in
                    Belgium for education, jobs, and spread of Ruby.
                </p>
                <p class="text-left">
                    The association is more about the people than the technology.
                </p>
            </div>
        </div>
    </div>
</section>
