%section#about.section--alternate
  .container
    .row
      .col-lg-12
        .text-center
          %img.animated.mini-logo.flip{src: '/assets/images/atomium_only.svg', alt: 'Ruby Belgium', width: 50}
          %h2.section-heading.marginless Ruby Belgium
          %h3.section-subheading.text-muted The Association.
        %p.lead.text-columns
          The Association aims at promoting the programming language
          Ruby and supporting the Belgian Ruby community.
          In that way, the Association organizes and supports events
          gathering Ruby developers and promoting Ruby. It works in
          Belgium for education, jobs, and spread of Ruby.
          The association is more about the people than the technology.
