%section#about.section--alternate
  .container
    .row
      .col-lg-12
        .text-center
          %img.animated.mini-logo.flip{src: '/assets/images/atomium_only.svg', alt: 'Ruby Belgium', width: 50}
          %h2.section-heading.marginless Ruby Belgium
          %h3.section-subheading.text-muted The Association.
        .text-columns
          :markdown
            Ruby Belgium is a **community** of programming enthusiasts using ruby as a tool to  **connect**, build and share knowledge.

            We promote the use of the ruby language, support the ruby job market, organize events to **help beginners through their learning journey** and **gather people around our core values: sharing, fun, mutual respect**.

            We believe ruby has a big role to play in the Belgian tech ecosystem. Ruby is also a good starting point for **anyone who wants to learn to program**.
