%section#contact
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Contact Us
        %h3.section-subheading.text-muted Any question? Do you want to become a member? Ask us!
    .row
      .col-lg-12.text-center
        %ul.list-inline.social-buttons
          %li
            %a{:href => "https://rubyburgers.slack.com/", :title => "Slack rooms"}
              %i.fa.fa-slack
          %li
            %a{:href => "https://www.facebook.com/rubybelgium/", :title => "Facebook page"}
              %i.fa.fa-facebook
          %li
            %a{:href => "https://twitter.com/rubybelgium/", :title => "@rubybelgium"}
              %i.fa.fa-twitter
