%section#contact
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Contact Us
        %h3.section-subheading.text-muted Any question? Do you want to become a member? Ask us!
    .row
      .col-lg-12.text-center
        %p Talk to us at
        %ul
          %li
            %a{:href => "mailto:info@rubybelgium.be"}
              %i.fa.fa-envelope
              info [at] rubybelgium [dot] be
          %li
            %a{:href => "http://rubyburgers.herokuapp.com/"}
              %i.fa.fa-slack
              chat rooms
          %li
            %a{:href => "https://twitter.com/brug_be/"}
              %i.fa.fa-twitter
              @brug_be