%section#contact
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Contact Us
        %h3.section-subheading.text-muted Any question? Do you want to become a member? Ask us!
    .row
      .col-lg-12.text-center
        %ul.list-inline.social-buttons
          %li
            %a{:href => "mailto:info@rubybelgium.be", :title => "info [at] rubybelgium [dot] be"}
              %i.fa.fa-envelope
          %li
            %a{:href => "http://rubyburgers.herokuapp.com/", :title => "chat rooms"}
              %i.fa.fa-slack
          %li
            %a{:href => "https://twitter.com/rubybelgium/", :title => "@rubybelgium"}
              %i.fa.fa-twitter
