%section#events
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Next Events
    .row
      .col-lg-12
        %ul.timeline#events-list

%script{id: 'event-template', type: 'text/x-jsrender'}
  %li{class: '{{:class}}'}
    .timeline-image
      %a{href: '{{:link}}'}
        %img.img-circle.img-responsive{src: '{{:image}}', alt: '{{:date}}'}
    .timeline-panel
      .timeline-heading
        %h4 {{>date}}
        %h4.subheading
          %a{href: '{{:link}}'}
            {{>title}}
      .timeline-body
        %p.text-muted {{>description}}
