%header
  .layer
    .container
      .intro-text
        .intro-lead-in Together, we are a stronger Ruby community.
        .intro-heading Welcome To Ruby Belgium!
        %a.page-scroll.btn.btn-xl{:href => "#about"} Tell Me More
      .background-caption
        %a{:href => "https://flic.kr/p/bw7awT"} Grand Place, Brussels, by Juan Rubiano, 2011