<header>
    <div class="layer">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Together, we are a stronger Ruby community.</div>
            <div class="intro-heading">Welcome To Ruby Belgium!</div>
            <a href="#about" class="page-scroll btn btn-xl">Tell Me More</a>
        </div>
        <div class="background-caption">
          <a href="https://flic.kr/p/bw7awT">Grand Place, Brussels, by Juan Rubiano, 2011</a>
        </div>
    </div>
    </div>
</header>
