<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Together, we are a stronger Ruby community.</div>
            <div class="intro-heading">Welcome To Ruby Belgium!</div>
            <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
        </div>
    </div>
</header>
