%header.header
  .layer
    .container.text-center
      .row
        %img.mx-auto.ruby-icon{src: '/assets/images/ruby.svg', width: 300}
      .row
        %h1.header__moto__title.animated.fadeInUp
          -# Together we are a stronger Ruby community.
          Building a stronger Ruby community. Together.
        %a.page-scroll.btn.btn-primary.btn-lg{href: "#about"} More about us
