%header.header
  .layer
    .container
      .row.display-table
        .col-md-7.display-table-cell.align-vertical
          .header__moto
            %h1.header__moto__title Together, we are a stronger Ruby community.
            %a.page-scroll.btn.btn-default.btn-lg{href: "#about"} More about us
        .col-md-5.text-center.display-table-cell.align-vertical
          .visible-md.visible-lg
            %img.ruby-icon{src: '/assets/images/ruby.svg'}
