%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header.page-scroll
      %button.navbar-toggle{"data-target" => "#rb-navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.page-scroll{href: "/"}
        %img.animated{src: '/assets/images/logo_red.svg', alt: 'Ruby Belgium'}

    #rb-navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.hidden
          %a{href: "#page-top"}
        %li
          %a.page-scroll{href: "/about"} About
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
            Projects
            %span.caret
          %ul.dropdown-menu
            %li
              %a{href: "/ruby-belgium-user-group"} Code together
            %li
              %a{href: "/rails-girls"} Rails girls
            %li
              %a{href: "https://www.meetup.com/ruby_belgium/", target: '_blank', rel: 'nofollow'} Ruby burgers
            %li
              %a{href: 'http://rubycamp.rubybelgium.be/'} Ruby Camp
        %li
          %a{href: "https://www.meetup.com/ruby_belgium/", target: '_blank', rel: 'nofollow'} Events
        %li
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
            Jobs
            %span.caret
          %ul.dropdown-menu
            %li
              %a{href: "/positions"} Ruby Jobs
            %li
              %a{href: "/rubyshops"} Ruby shops
            %li
              %a{href: "/jobs/ruby-salaries-survey"} Salaries survey
        %li
          %a.page-scroll{href: "/#contact"} Contact
