%section#projects
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Our Projects
    .row
      - data.projects.each do |project|
        .col-xs-6.col-md-3.portfolio-item
          = link_to project.link, class: 'portfolio-link', rel: 'nofollow' do
            .portfolio-hover
              .portfolio-hover-content
                %i.fa.fa-plus.fa-3x
            = image_tag_2x project.logo, class: 'img-responsive', alt: project.name
          .portfolio-caption
            %h4= project.name
            %p.text-muted= project.tagline
