<div class="portfolio-modal modal fade" id="project_brug" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>BRUG</h2>
                        <p class="item-intro text-muted">Belgian Ruby User Group</p>
                        <%= image_tag 'brug-panorama.jpg', class: 'img-responsive img-centered', alt: 'BRUG' %>
                        <p>Let's code together!</p>
                        <p>It's simple: bring your current code problem, code on an open source project, or just come to help.</p>
                        <p>Every month, a new meetup.</p>
                        <%= link_to 'Go to Meetup.com', 'http://www.meetup.com/brug__/', class: 'btn btn-primary' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
