---
title: Ruby Belgium - A community about the ruby language, ruby jobs and burgers!
description: Ruby Belgium helps people learn ruby, find ruby jobs market and have fun
---

= partial 'home/header'
= partial 'home/about'
= partial 'home/projects'
= partial 'home/events'
