---
title: Code together - Ruby & design talks, coding sessions - Ruby Belgium
---

%header.header
  .layer
    .container.text-center
      %h1.animated.fadeInUp Code together
      %h3.header__subtitle
        Ruby & design talks, coding sessions & lots of fun!
      = link_to 'Join us for the next event', 'https://gettogether.community/ruby-belgium', class: 'btn btn-primary btn-lg'

%section.section--alternate
  .container
    .text-columns
      %p We live in the Internet age, where we have so many digital channels to communicate.
      %p Getting to know people "in real life", though, can still be very rewarding.
      %p That's why, every third Tuesday of the month, the Ruby community is gathering in a co-working space.
      %p The objectives are diverse: meet everybody, have a chat about common interests, listen to tech talks, or getting help with projects.
      %p There are always beginners and seasoned developers attending, so don't be afraid to join the party, and ask for advices.

-# Uncomment when this starts again
-# %section
-#   .container
-#     .text-center
-#       %h2.section-heading Organizer
-#       = image_tag 'tiago.jpg', class: "img-responsive img-circle center-block", alt: 'Tiago Mendes-Costa'
-#       %h3.section-subheading.text-muted Tiago Mendes-Costa
-#       %ul.list-inline.social-buttons
-#         %li
-#           = link_to "https://twitter.com/otagi" do
-#             %i.fa.fa-twitter
%section.section--alternate
  .container
    .text-center
      %h2.section-heading.marginless A place to share and learn with others
      %h3.section-subheading.text-muted Brug is the place to experiment code or be inspired by the amazing speakers
    .row
      .col-md-6
        %img.thumbnail{src: '/assets/images/brug/brug-1.jpg'}
        %p.text-center Olivier eagerly trying to learn Trailblazer Ruby
      .col-md-6
        %img.thumbnail{src: '/assets/images/brug/brug-2.jpg'}
        %p.text-center A talk about idiomatic ruby
%section.text-center
  = link_to 'Join us for the next event', 'https://gettogether.community/ruby-belgium', class: 'btn btn-primary btn-lg'
