body.code-of-conduct {
  // TODO: Use these sizes for the whole website
  @media (max-width: $screen-xs-max) { font-size: 16px; }
  @media (min-width: $screen-sm-min) { font-size: 20px; }
  @media (min-width: $screen-md-min) { font-size: 24px; }
  @media (min-width: $screen-lg-min) { font-size: 24px; }
}
