#events {
  .timeline-image {
    background-color: white;
    color: $gray-base;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    &:hover,
    &:focus,
    &:active {
      border-color: $brand-primary;
    }
  }
}
