footer {
	padding: 50px 0;
	text-align: center;
	span.copyright {
		line-height: 40px;
		text-transform: none;
	}
	ul.quicklinks {
		margin-bottom: 0;
		line-height: 40px;
		text-transform: none;
	}
}
